# Django Configuration
DEBUG=True
SECRET_KEY=your-secret-key-here-change-in-production
ALLOWED_HOSTS=localhost,127.0.0.1

# Database Configuration
DATABASE_URL=Supabase_connection_string


# CORS Configuration (Set to False in production)
CORS_ALLOW_ALL_ORIGINS=True
CORS_ALLOW_CREDENTIALS=True

# Media & Static Files
MEDIA_URL=/media/
STATIC_URL=/static/

# JWT Configuration
JWT_ACCESS_TOKEN_LIFETIME_DAYS=7
JWT_REFRESH_TOKEN_LIFETIME_DAYS=30
JWT_ALGORITHM=HS256

# REST Framework
REST_FRAMEWORK_PAGE_SIZE=10
